.logo{
    padding-left: 30px;
    width: 800px;
    color: rgb(255, 255, 255);
}
.NAbber{
    margin-left: 200px;
}
.navber-bag{
   background:#00984a;
}

.NavBer-Btn a:hover{
    background-color: rgb(244, 245, 243);

}